USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_AccountingInsert]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_LN_AccountingInsert] (
	@Module VARCHAR(10)
	, @ProductCode VARCHAR(20)
	, @TxnCode VARCHAR(20)
	, @LoanAccountNo VARCHAR(20)
	, @ActivityID VARCHAR(30)
	, @AcctgDate DATE
	, @ValueDate DATE
	, @PostingInput TT_LN_AccountingInput READONLY
	, @SourceCode VARCHAR(50)
	)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	BEGIN TRY
	BEGIN TRAN
		INSERT INTO GS_LN_Accounting_Details (
			LoanAccountNo
			, ActivityID
			, Module
			, TxnCode
			, AmtCode
			, Amount
			, GLMnemonic
			, Dr_Cr
			, AcctgDate
			, ValueDate
			, SourceCode
			)
		SELECT @LoanAccountNo
			, @ActivityID
			, R.Module
			, R.TxnCode
			, R.AmtCode
			, I.Amount
			, R.GLMnemonic
			, R.Dr_Cr
			, @AcctgDate
			, @ValueDate
			, @SourceCode
		FROM GS_LN_Accounting_PostingRule R
		JOIN @PostingInput I ON R.AmtCode = I.AmtCode
		WHERE R.Module = @Module
			AND R.ProductCode = @ProductCode
			AND R.TxnCode = @TxnCode
			AND R.IsActive = 1
		ORDER BY R.PostingSequence

		-- Balance Check (Safety)
		IF (
				SELECT SUM(CASE 
							WHEN Dr_Cr = 'D'
								THEN Amount
							ELSE - Amount
							END)
				FROM GS_LN_Accounting_Details(NOLOCK)
				WHERE ActivityID = @ActivityID
				) <> 0
		BEGIN
			RollBACK
		END

		Commit
	END TRY

	BEGIN CATCH
		INSERT INTO ErrorHandler (
			ERROR_MSG
			, ERROR_NUM
			, ERROR_LIN
			, ERROR_PROC
			, [BATCH-ID]
			, [SYSTEM-DATE]
			)
		VALUES (
			ERROR_MESSAGE()
			, ERROR_NUMBER()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, 0
			, SYSDATETIME()
			)

		
	END CATCH
END
GO
