USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_CreateLoan]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_LN_CreateLoan] (
	@Loans LoanCreateType READONLY
	, @ResponseCode VARCHAR(3) OUTPUT
	, @ResponseMsg VARCHAR(MAX) OUTPUT
	)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	DECLARE @Today DATE

	BEGIN TRY
		BEGIN TRAN

		SELECT @Today = TodayDate
		FROM GS_LN_ApplicationDate(NOLOCK)

		----------------------------------------------------
		-- 1 Validation
		----------------------------------------------------
		EXEC dbo.[PRC_LN_ValidateLoan] @Loans
			, @ResponseCode OUTPUT
			, @ResponseMsg OUTPUT

		IF (@ResponseCode <> '000')
		BEGIN
			INSERT INTO GS_LN_LoanEnquiry (
				ExternalApplicationID
				, RequestID
				, LoanAccountNo
				, ResponseCode
				, ResponseMsg
				, STATUS
				, CreatedDate
				)
			SELECT ExternalApplicationID
				, RequestID
				, NULL
				, @ResponseCode
				, @ResponseMsg
				, 'FAILED'
				, SYSDATETIME()
			FROM @Loans

		END

		ELSE

		Begin
		----------------------------------------------------
		-- 2 Copy To Temp Table
		----------------------------------------------------
		CREATE TABLE #Temp (
			RowNo INT IDENTITY(1, 1)
			, ExternalApplicationID VARCHAR(50)
			, RequestID VARCHAR(50)
			, CustomerID VARCHAR(50)
			, ProductCode VARCHAR(50)
			, AppliedAmount DECIMAL(18, 4)
			, SanctionAmount DECIMAL(18, 4)
			, RepaymentType VARCHAR(50)
			, InstallmentFrequency VARCHAR(50)
			, Tenure INT
			, InterestRate DECIMAL(9, 6)
			, FirstInstallmentDate DATE
			, CreatedBy VARCHAR(50)
			)

		INSERT INTO #Temp
		SELECT ExternalApplicationID
			, RequestID
			, CustomerID
			, ProductCode
			, AppliedAmount
			, SanctionAmount
			, RepaymentType
			, InstallmentFrequency
			, Tenure
			, InterestRate
			, FirstInstallmentDate
			, CreatedBy
		FROM @Loans

		----------------------------------------------------
		-- 3 Loop Variables
		----------------------------------------------------
		DECLARE @Min INT = 1
			, @Max INT = (
				SELECT COUNT(1)
				FROM #Temp
				)
			, @LoanAccountNo VARCHAR(16)
			, @NextNo BIGINT

		----------------------------------------------------
		-- 4 WHILE Loop
		----------------------------------------------------
		WHILE (@Min <= @Max)
		BEGIN
			-- Generate Loan Account Number
			SELECT @NextNo = NEXT VALUE
			FOR dbo.Seq_LoanAccountNo

			SET @LoanAccountNo = 'GSA' + RIGHT(REPLICATE('0', 12) + CAST(@NextNo AS VARCHAR(12)), 12)

-----------------EMI Calculation-------------------------------------
        DECLARE  @LoanAmount DECIMAL(18, 4)
	           , @InterestRate DECIMAL(9, 6)
	           , @Tenure INT

         Set @LoanAmount    =  (Select SanctionAmount from #Temp  WHERE RowNo = @Min )  
		 Set @InterestRate  =  (Select InterestRate from #Temp  WHERE RowNo = @Min )
		 Set @Tenure        =  (Select Tenure from #Temp  WHERE RowNo = @Min )

       DECLARE @MonthlyInterestAmount DECIMAL(18, 4) = @InterestRate / (12 * 100)
	   DECLARE @EMI DECIMAL(18, 4)

	   SET @EMI = floor((@LoanAmount * @MonthlyInterestAmount) / (1 - POWER(1 + @MonthlyInterestAmount, - @Tenure))) ---EMI


			-- Insert Loan Detail
			INSERT INTO GS_LN_LoanDetail (
				LoanAccountNo
				, ExternalApplicationID
				, CustomerID
				, ProductCode
				, LoanStatus
				, ApplicationDate
				, SanctionDate
				, AppliedAmount
				, SanctionAmount
				, RepaymentType
				, InstallmentFrequency
				, Tenure
				, InstallmentAmount
				, InterestRate
				, FirstInstallmentDate
				, CreatedDate
				, CreatedBy
				)
			SELECT @LoanAccountNo
				, ExternalApplicationID
				, CustomerID
				, ProductCode
				, 'SANCTIONED'
				, @Today
				, @Today
				, AppliedAmount
				, SanctionAmount
				, RepaymentType
				, InstallmentFrequency
				, Tenure
				, @EMI
				, InterestRate
				, FirstInstallmentDate
				, SYSDATETIME()
				, CreatedBy
			FROM #Temp
			WHERE RowNo = @Min

			-- Insert LoanEnquiry Success
			INSERT INTO GS_LN_LoanEnquiry (
				ExternalApplicationID
				, RequestID
				, LoanAccountNo
				, ResponseCode
				, ResponseMsg
				, STATUS
				, CreatedDate
				, CreatedBy
				)
			SELECT ExternalApplicationID
				, RequestID
				, @LoanAccountNo
				, '000'
				, 'Loan Created Successfully'
				, 'SUCCESS'
				, SYSDATETIME()
				, CreatedBy
			FROM #Temp
			WHERE RowNo = @Min

			SET @Min = @Min + 1
		END

		DROP TABLE IF EXISTS #Temp
			COMMIT

		SET @ResponseCode = '000'
		SET @ResponseMsg = 'Loans Created Successfully'

		END 
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK

		INSERT INTO ErrorHandler (
			ERROR_MSG
			, ERROR_NUM
			, ERROR_LIN
			, ERROR_PROC
			, [BATCH-ID]
			, [SYSTEM-DATE]
			)
		VALUES (
			ERROR_MESSAGE()
			, ERROR_NUMBER()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, 0
			, SYSDATETIME()
			)

		SET @ResponseCode = '999'
		SET @ResponseMsg = ERROR_MESSAGE()
	END CATCH
END
GO
