USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_ValidateLoan]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PRC_LN_ValidateLoan] (
	@Loans LoanCreateType READONLY
	, @ResponseCode VARCHAR(3) OUTPUT
	, @ResponseMsg VARCHAR(MAX) OUTPUT
	)
AS
BEGIN
	SET NOCOUNT ON

	BEGIN TRY
		DECLARE @loan TABLE (
			ProductCode VARCHAR(50)
			, CustomerID VARCHAR(50)
			, ExternalApplicationID VARCHAR(50)
			, SanctionAmount DECIMAL(18, 4)
			, Tenure INT
			, ErrorResponse VARCHAR(3) DEFAULT '000'
			, ErrorMsg VARCHAR(MAX)
			, ErrorStatus BIT DEFAULT 0
			)

		-- Copy from input table
		INSERT INTO @loan (
			ProductCode
			, CustomerID
			, ExternalApplicationID
			, SanctionAmount
			, Tenure
			)
		SELECT ProductCode
			, CustomerID
			, ExternalApplicationID
			, SanctionAmount
			, Tenure
		FROM @Loans

		-----------------------------------------------------
		-- 1️ Customer Validation (Same as old)
		-----------------------------------------------------
		--IF (SELECT COUNT(1)
		--    FROM Customers
		--    WHERE CustomerID IN (SELECT CustomerID FROM @loan)) = 0
		--BEGIN
		--    UPDATE A
		--    SET ErrorStatus = 1,
		--        ErrorResponse = '001',
		--        ErrorMsg = 'CUSTOMER ID DOESNOT MATCH'
		--    FROM @loan A
		--    WHERE A.ErrorStatus = 0
		--END
		-----------------------------------------------------
		-- 2 Product Validation
		-----------------------------------------------------
		IF (
				SELECT COUNT(1)
				FROM GS_PR_LoanPreference
				WHERE ProductCode IN (
						SELECT ProductCode
						FROM @loan
						)
				) = 0
		BEGIN
			UPDATE A
			SET ErrorStatus = 1
				, ErrorResponse = '001'
				, ErrorMsg = 'SCHEMECODE DOESNOT MATCH'
			FROM @loan A
			WHERE A.ErrorStatus = 0
		END

		-----------------------------------------------------
		-- 3️ Sanction Amount Range Check
		-----------------------------------------------------
		UPDATE A
		SET ErrorStatus = 1
			, ErrorResponse = '001'
			, ErrorMsg = 'SCHEMECODE DOESNOT MATCH WITH THE SANCTIONED LOAN AMOUNT'
		FROM @loan A
		JOIN GS_PR_LoanPreference C ON C.ProductCode = A.ProductCode
		WHERE A.ErrorStatus = 0
			AND (
				A.SanctionAmount < C.MinLoanAmount
				OR A.SanctionAmount > C.MaxLoanAmount
				)

		-----------------------------------------------------
		-- 4️ Tenure Validation
		-----------------------------------------------------
		UPDATE A
		SET ErrorStatus = 1
			, ErrorResponse = '001'
			, ErrorMsg = 'LOAN PERIOD MONTHS DOESNOT MATCH WITH THE SCHEME CODE'
		FROM @loan A
		JOIN GS_PR_LoanPreference C ON C.ProductCode = A.ProductCode
		WHERE A.ErrorStatus = 0
			AND (
				A.Tenure < C.MinTenure
				OR A.Tenure > C.MaxTenure
				)

		-----------------------------------------------------
		-- Final Response
		-----------------------------------------------------
		IF EXISTS (
				SELECT 1
				FROM @loan
				WHERE ErrorStatus = 1
				)
		BEGIN
			SELECT TOP 1 @ResponseCode = ErrorResponse
				, @ResponseMsg = ErrorMsg
			FROM @loan
			WHERE ErrorStatus = 1

			RETURN
		END

		SET @ResponseCode = '000'
		SET @ResponseMsg = 'SUCCESS'
	END TRY

	BEGIN CATCH
		INSERT INTO ErrorHandler (
			ERROR_MSG
			, ERROR_NUM
			, ERROR_LIN
			, ERROR_PROC
			, [BATCH-ID]
			, [SYSTEM-DATE]
			)
		VALUES (
			ERROR_MESSAGE()
			, ERROR_NUMBER()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, 0
			, SYSDATETIME()
			)

		SET @ResponseCode = '999'
		SET @ResponseMsg = ERROR_MESSAGE()
	END CATCH
END
GO
