USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_EOD_MonthEndAccrual]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_LN_EOD_MonthEndAccrual]
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON  

    DECLARE @BusinessDate DATE

    SELECT @BusinessDate = TodayDate
    FROM GS_LN_ApplicationDate

    BEGIN TRY

        BEGIN TRAN

       ------------------------------------------------------------
    -- Temp Tables
    ------------------------------------------------------------
    DROP TABLE IF EXISTS #AccrualData
    CREATE TABLE #AccrualData
    (
        LoanAccountNo     VARCHAR(100),
        ScheduleID        INT,
        ScheduleDate      DATE,
        ScheduledInterest DECIMAL(18,4),
        ProductCode       VARCHAR(100),
        DailyInterest     DECIMAL(18,4)
    )

    DROP TABLE IF EXISTS #MonthEnd
    CREATE TABLE #MonthEnd
    (
        LoanAccountNo  VARCHAR(100),
        ProductCode    VARCHAR(100),
        ScheduleID     INT,
        ScheduleDate   DATE NULL,
        DayDiff        INT NULL,
        DailyInterest  DECIMAL(18,4) NULL,
        AccrualAmount  DECIMAL(18,4)
    )

    ------------------------------------------------------------
    -- Accrual Logic
    ------------------------------------------------------------
IF @BusinessDate = EOMONTH(@BusinessDate)
BEGIN
	INSERT INTO #AccrualData (
		LoanAccountNo
		, ScheduleID
		, ScheduleDate
		, ScheduledInterest
		, ProductCode
		, DailyInterest
		)
	SELECT A.LoanAccountNo
		, B.ScheduleID
		, B.ScheduleDate
		, B.ScheduledInterest
		, A.ProductCode
		, (B.ScheduledInterest / NULLIF(B.NoOfDays, 0))
	FROM GS_LN_LoanDetail A
	JOIN GS_LN_RepaymentSchedule B ON A.LoanAccountNo = B.LoanAccountNo
		AND B.ScheduledInterest > ISNULL(B.InterestAccrued, 0)
		AND B.LastAccDate <= @BusinessDate
		AND DATEADD(DAY, - 1, B.ScheduleDate) >= B.LastAccDate
	WHERE A.LoanStatus = 'DISBURSED'

	INSERT INTO #MonthEnd (
		LoanAccountNo
		, ProductCode
		, ScheduleID
		, ScheduleDate
		, DayDiff
		, DailyInterest
		, AccrualAmount
		)
	SELECT A.LoanAccountNo
		, A.ProductCode
		, A.ScheduleID
		, A.ScheduleDate
		, D.DayDiff
		, A.DailyInterest
		, D.DayDiff * A.DailyInterest
	FROM #AccrualData A
	JOIN GS_LN_DisbursementDetail B ON A.LoanAccountNo = B.LoanAccountNo
	CROSS APPLY (
		SELECT CASE 
				WHEN A.ScheduleID = 1
					THEN B.DisbursementDate
				ELSE DATEADD(MONTH, - 1, A.ScheduleDate)
				END AS BaseDate
		) X
	CROSS APPLY (
		SELECT DATEDIFF(DAY, X.BaseDate, EOMONTH(X.BaseDate)) AS DayDiff
		) D
END
    ELSE

	-------------ScheduleDate-1 Accrual

    BEGIN
        INSERT INTO #MonthEnd
        (
            LoanAccountNo,
            ProductCode,
            ScheduleID,
            AccrualAmount
        )
        SELECT  A.LoanAccountNo,
                A.ProductCode,
                B.ScheduleID,
                ISNULL(B.ScheduledInterest,0) - ISNULL(B.InterestAccrued,0)
        FROM GS_LN_LoanDetail A
        JOIN GS_LN_RepaymentSchedule B
              ON A.LoanAccountNo = B.LoanAccountNo
             AND DATEADD(DAY,-1,B.ScheduleDate) = @BusinessDate
        WHERE A.LoanStatus = 'DISBURSED'
    END


        ------------------------------------------------------------
        -- Cursor Processing
        ------------------------------------------------------------
        DECLARE 
            @LoanAccountNo VARCHAR(20),
            @ProductCode   VARCHAR(20),
            @ScheduleID    INT,
            @AccrualAmount DECIMAL(18,4),
            @ActivityID    VARCHAR(40)

        DECLARE LoanCursor CURSOR LOCAL FAST_FORWARD FOR
        SELECT LoanAccountNo,
               ProductCode,
               ScheduleID,
               AccrualAmount
        FROM #MonthEnd
        WHERE AccrualAmount > 0

        OPEN LoanCursor

        FETCH NEXT FROM LoanCursor
        INTO @LoanAccountNo,
             @ProductCode,
             @ScheduleID,
             @AccrualAmount

        WHILE @@FETCH_STATUS = 0
        BEGIN

            ---------------------------------------------------
            -- NO inner TRY/CATCH here
            ---------------------------------------------------

            DECLARE @Input TT_LN_AccountingInput

            INSERT INTO @Input
            VALUES ('INTACR', @AccrualAmount)

            SET @ActivityID =
                CONCAT('LA_',
                       @LoanAccountNo,'_',
                       FORMAT(@BusinessDate,'yyyyMMdd'),'_',
                       @ScheduleID)

            EXEC PRC_LN_AccountingInsert
                 @Module        = 'LN',
                 @ProductCode   = @ProductCode,
                 @TxnCode       = 'LA',
                 @LoanAccountNo = @LoanAccountNo,
                 @ActivityID    = @ActivityID,
                 @AcctgDate     = @BusinessDate,
                 @ValueDate     = @BusinessDate,
                 @PostingInput  = @Input,
                 @SourceCode    = 'EODACCR_102'

            UPDATE GS_LN_RepaymentSchedule
            SET InterestAccrued = ISNULL(InterestAccrued,0) + @AccrualAmount,
                LastAccDate     = DATEADD(DAY,1,@BusinessDate)
            WHERE LoanAccountNo = @LoanAccountNo
              AND ScheduleID    = @ScheduleID

            UPDATE GS_LN_DailyAccrual
            SET AccountingAccrued = ISNULL(AccountingAccrued,0) + @AccrualAmount,
                ModifiedDate      = SYSDATETIME()
            WHERE LoanAccountNo = @LoanAccountNo

            FETCH NEXT FROM LoanCursor
            INTO @LoanAccountNo,
                 @ProductCode,
                 @ScheduleID,
                 @AccrualAmount
        END

        CLOSE LoanCursor
        DEALLOCATE LoanCursor

        COMMIT

    END TRY
    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK

        INSERT INTO ErrorHandler
        (
            ERROR_MSG,
            ERROR_NUM,
            ERROR_LIN,
            ERROR_PROC,
            [BATCH-ID],
            [SYSTEM-DATE]
        )
        VALUES
        (
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_LINE(),
            ERROR_PROCEDURE(),
            0,
            SYSDATETIME()
        );

        THROW  -- Forces procedure failure

    END CATCH
END
GO
