USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_ValidateRepayment]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PRC_LN_ValidateRepayment]
(
    @LoanAccountNo   VARCHAR(20),
    @PaymentAmount   DECIMAL(18,4),
    @PaymentDate     DATE,
    @ResponseCode    VARCHAR(3) OUTPUT,
    @ResponseStatus  VARCHAR(20) OUTPUT,
    @ResponseMsg     VARCHAR(200) OUTPUT
)
AS
BEGIN

SET NOCOUNT ON;

BEGIN TRY

---------------------------------------------------------
-- Default Success
---------------------------------------------------------

SET @ResponseCode   = '000'
SET @ResponseStatus = 'SUCCESS'
SET @ResponseMsg    = 'SUCCESS'

---------------------------------------------------------
-- Get Business Date
---------------------------------------------------------

DECLARE @BusinessDate DATE

SELECT @BusinessDate = TodayDate
FROM GS_LN_ApplicationDate

---------------------------------------------------------
-- 1 Loan Exists
---------------------------------------------------------

IF NOT EXISTS
(
    SELECT 1
    FROM GS_LN_LoanDetail
    WHERE LoanAccountNo = @LoanAccountNo
)
BEGIN

SET @ResponseCode='001'
SET @ResponseStatus='FAILED'
SET @ResponseMsg='LOAN ACCOUNT DOES NOT EXIST'

RETURN

END

---------------------------------------------------------
-- 2 Loan Status
---------------------------------------------------------

IF EXISTS
(
SELECT 1
FROM GS_LN_LoanDetail
WHERE LoanAccountNo=@LoanAccountNo
AND LoanStatus <> 'DISBURSED'
)
BEGIN

SET @ResponseCode='001'
SET @ResponseStatus='FAILED'
SET @ResponseMsg='LOAN IS NOT IN DISBURSED STATUS'

RETURN

END

---------------------------------------------------------
-- 3 Amount Validation
---------------------------------------------------------

IF @PaymentAmount IS NULL OR @PaymentAmount <= 0
BEGIN

SET @ResponseCode='001'
SET @ResponseStatus='FAILED'
SET @ResponseMsg='INVALID REPAYMENT AMOUNT'

RETURN

END

---------------------------------------------------------
-- 4 Future Date Check
---------------------------------------------------------

IF @PaymentDate > @BusinessDate
BEGIN

SET @ResponseCode='001'
SET @ResponseStatus='FAILED'
SET @ResponseMsg='PAYMENT DATE CANNOT BE GREATER THAN BUSINESS DATE'

RETURN

END

---------------------------------------------------------
-- 5 Backdate Limit (15 Days)
---------------------------------------------------------

IF DATEDIFF(DAY,@PaymentDate,@BusinessDate) > 15
BEGIN

SET @ResponseCode='001'
SET @ResponseStatus='FAILED'
SET @ResponseMsg='PAYMENT DATE CAN ONLY BE BACKDATED UP TO 15 DAYS'

RETURN

END

---------------------------------------------------------
-- 6 Previous Repayment Date Validation
---------------------------------------------------------

DECLARE @LastPaymentDate DATE

SELECT @LastPaymentDate = MAX(PaymentDate)
FROM GS_LN_Repayment
WHERE LoanAccountNo=@LoanAccountNo

IF @LastPaymentDate IS NOT NULL
AND @PaymentDate < @LastPaymentDate
BEGIN

SET @ResponseCode='001'
SET @ResponseStatus='FAILED'
SET @ResponseMsg =
'PAYMENT DATE IS LESS THAN LAST REPAYMENT DATE (' +
CONVERT(VARCHAR,@LastPaymentDate,106) + ')'

RETURN

END

END TRY

BEGIN CATCH

SET @ResponseCode='001'
SET @ResponseStatus='FAILED'
SET @ResponseMsg=ERROR_MESSAGE()

END CATCH

END
GO
