USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_EOD_DailyAccrual]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[PRC_LN_EOD_DailyAccrual]
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON

    BEGIN TRY
        BEGIN TRAN

        DECLARE @BusinessDate DATE

        SELECT @BusinessDate = TodayDate
        FROM GS_LN_ApplicationDate

        ----------------------------------------------------
        -- Update Daily Accrual For All Active Loans
        ----------------------------------------------------

        UPDATE D
        SET 
            D.DailyInterest =
                ROUND((D.InterestRate * D.BalancePrincipal) / 36500, 4),

            D.TotalAccruedInterest =
                ISNULL(D.TotalAccruedInterest,0)
                + ROUND((D.InterestRate * D.BalancePrincipal) / 36500, 4),

            D.ModifiedDate = SYSDATETIME()
        FROM GS_LN_DailyAccrual D
        JOIN GS_LN_LoanDetail L
            ON L.LoanAccountNo = D.LoanAccountNo
        WHERE 
            L.LoanStatus = 'DISBURSED'

        ----------------------------------------------------
        --  Update DPD 
        ----------------------------------------------------
				IF OBJECT_ID('tempdb..#DPD') IS NOT NULL DROP TABLE #DPD

				SELECT
					S.LoanAccountNo,
					MIN(S.ScheduleDate) AS FirstOverdueDate
				INTO #DPD
				FROM GS_LN_RepaymentSchedule S
				JOIN GS_LN_LoanDetail L
					ON L.LoanAccountNo = S.LoanAccountNo
				WHERE
					L.LoanStatus = 'DISBURSED'
					AND S.ScheduleDate < @BusinessDate
					AND (
							ISNULL(S.EMI,0) > ISNULL(S.EMIPaid,0)
						)
				GROUP BY S.LoanAccountNo


					UPDATE D
					SET D.DPD =
						CASE 
							WHEN O.FirstOverdueDate IS NULL THEN 0
							ELSE DATEDIFF(DAY, O.FirstOverdueDate, @BusinessDate)
						END,
						D.ModifiedDate = SYSDATETIME()
					FROM GS_LN_DailyAccrual D
					LEFT JOIN #DPD O
						ON D.LoanAccountNo = O.LoanAccountNo


        COMMIT

    END TRY
    BEGIN CATCH
        ROLLBACK

        INSERT INTO ErrorHandler
        (
            ERROR_MSG,
            ERROR_NUM,
            ERROR_LIN,
            ERROR_PROC,
            [BATCH-ID],
            [SYSTEM-DATE]
        )
        VALUES
        (
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_LINE(),
            ERROR_PROCEDURE(),
            0,
            SYSDATETIME()
        )


    END CATCH
END
GO
