USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_ProcessDisbursement]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_LN_ProcessDisbursement] (
	@ExternalApplicationID VARCHAR(50)
	, @LoanAccountNo VARCHAR(16)
	, @DisbursementAmount DECIMAL(18, 4)
	, @DisbursalMode VARCHAR(20)-- NEFT / RTGS / IMPS
	, @DisbursalType VARCHAR(20)-- FULL, PARTIAL, TOPUP
	, @InterestRate DECIMAL(9, 6)
	, @Tenure INT
	, @FirstInstallmentDate DATE
	, @CreatedBy VARCHAR(50)
	, @ResponseCode VARCHAR(10) OUTPUT
	, @ResponseMsg VARCHAR(MAX) OUTPUT
	)
AS
BEGIN
	SET NOCOUNT ON
	SET XACT_ABORT ON

	

	BEGIN TRY
		BEGIN TRAN

		DECLARE @BusinessDate DATE

		SET @BusinessDate = (
				SELECT TodayDate
				FROM GS_LN_ApplicationDate(NOLOCK)
				)
		--SET @FirstInstallmentDate = (
		--		SELECT dateadd(month, 1, TodayDate)
		--		FROM GS_LN_ApplicationDate(NOLOCK)
		--		)

		DECLARE @DisActivityID VARCHAR(50)

		SET @DisActivityID = 'DIS' + CONVERT(VARCHAR(8), @BusinessDate, 112) + RIGHT(REPLICATE('0', 12) + CAST(NEXT VALUE FOR dbo.Seq_DIS_ActivityID AS VARCHAR(12)), 12)
		--------------------------------------------------
		-- 1 Basic Validations
		--------------------------------------------------
		SET @ResponseCode = '000'
		SET @ResponseMsg = 'SUCCESS'

		IF NOT EXISTS (
				SELECT 1
				FROM GS_LN_LoanDetail
				WHERE LoanAccountNo = @LoanAccountNo
				)
		BEGIN
			SET @ResponseCode = '001'
			SET @ResponseMsg = 'Invalid Loan Account Number'

			
		END

		IF NOT EXISTS (
				SELECT 1
				FROM GS_LN_LoanDetail
				WHERE LoanAccountNo = @LoanAccountNo
					AND LoanStatus = 'SANCTIONED'
				)
		BEGIN
			SET @ResponseCode = '002'
			SET @ResponseMsg = 'Loan is not in SANCTIONED status'

			
		END

		IF EXISTS (
				SELECT 1
				FROM GS_LN_DisbursementDetail
				WHERE LoanAccountNo = @LoanAccountNo
				)
		BEGIN
			SET @ResponseCode = '003'
			SET @ResponseMsg = 'Loan already disbursed'

			
		END

		--------------------------------------------------
		-- 2 Insert Disbursement Record
		--------------------------------------------------
		IF (@ResponseCode = '000')
		BEGIN
			INSERT INTO GS_LN_DisbursementDetail (
				LoanAccountNo
				, ExternalApplicationID
				, ActivityID
				, DisbursementDate
				, DisbursementAmount
				, FirstInstallmentDate
				, DisbursalMode
				, DisbursalType
				, CreatedDate
				, CreatedBy
				)
			SELECT LoanAccountNo
				, @ExternalApplicationID
				, @DisActivityID
				, @BusinessDate
				, @DisbursementAmount
				, @FirstInstallmentDate
				, @DisbursalMode
				, @DisbursalType
				, SYSDATETIME()
				, @CreatedBy
			FROM GS_LN_LoanDetail
			WHERE LoanAccountNo = @LoanAccountNo

			--------------------------------------------------
			-- 3 Initialize Live Accrual Table
			--------------------------------------------------
			INSERT INTO GS_LN_DailyAccrual (
				LoanAccountNo
				, OpeningPrincipal
				, BalancePrincipal
				, InterestRate
				, DailyInterest
				, TotalAccruedInterest
				, TotalInterestPaid
				, TotalPrincipalPaid
				, AccountingAccrued
				, AccountingCapitalized
				, DPD
				, CreatedDate
				)
			VALUES (
				@LoanAccountNo
				, @DisbursementAmount
				, @DisbursementAmount
				, @InterestRate
				, ROUND(((@DisbursementAmount * @InterestRate * 1) / 36500), 4)
				, 0
				, 0
				, 0
				, 0
				, 0
				, 0
				, SYSDATETIME()
				)

			--------------------------------------------------
			-- 4 Update Loan Status → ACTIVE
			--------------------------------------------------
			UPDATE GS_LN_LoanDetail
			SET LoanStatus = 'DISBURSED'
			WHERE LoanAccountNo = @LoanAccountNo

			--------------------------------------------------
			-- 5 Insert Disbursement Enquiry (Success)
			--------------------------------------------------
			INSERT INTO GS_LN_DisbursementEnquiry (
				ExternalApplicationID
				, ActivityID
				, LoanAccountNo
				, ResponseCode
				, ResponseMsg
				, STATUS
				, DisbursementAmount
				, CreatedDate
				, CreatedBy
				)
			SELECT @ExternalApplicationID
				, @DisActivityID
				, @LoanAccountNo
				, @ResponseCode
				, 'Loan Disbursed Successfully'
				, 'SUCCESS'
				, @DisbursementAmount
				, SYSDATETIME()
				, @CreatedBy
			FROM GS_LN_LoanDetail
			WHERE LoanAccountNo = @LoanAccountNo

			--------------------------------------------------
			-- 6 INSERT GS_LN_RepaymentSchedule
			--------------------------------------------------
			DROP TABLE IF EXISTS #RepaymentSchedule

			CREATE TABLE #RepaymentSchedule (
				LoanAccountNo VARCHAR(30)
				, ScheduleID INT
				, NoOfDays INT
				, ScheduleDate DATE
				, OpeningPrincipal DECIMAL(18, 4)
				, ScheduledInterest DECIMAL(18, 4)
				, ScheduledPrincipal DECIMAL(18, 4)
				, EMI DECIMAL(10, 2)
				, ClosingPrincipal DECIMAL(10, 2)
				, LastAccDate DATE
				)

			INSERT INTO #RepaymentSchedule (
				ScheduleID
				, NoOfDays
				, ScheduleDate
				, OpeningPrincipal
				, ScheduledInterest
				, ScheduledPrincipal
				, EMI
				, ClosingPrincipal
				, LastAccDate
				)
			EXEC [PRC_LN_GenerateSchedule_EMI] @DisbursementAmount
				, @InterestRate
				, @Tenure
				, @BusinessDate
				, @FirstInstallmentDate

			INSERT INTO GS_LN_RepaymentSchedule (
				LoanAccountNo
				, ScheduleID
				, NoOfDays
				, ScheduleDate
				, OpeningPrincipal
				, ScheduledInterest
				, ScheduledPrincipal
				, EMI
				, ClosingPrincipal
				, LastAccDate
				)
			SELECT @LoanAccountNo
				, ScheduleID
				, NoOfDays
				, ScheduleDate
				, OpeningPrincipal
				, ScheduledInterest
				, ScheduledPrincipal
				, EMI
				, ClosingPrincipal
				, LastAccDate
			FROM #RepaymentSchedule

			--------------------------------------------------
			-- 7 INSERT into Charges
			--------------------------------------------------
			INSERT INTO GS_LN_ChargeSchedule (
				LoanAccountNo
				, ScheduleID
				, ChargeReferenceID
				, ChargeCode
				, ChargeAmount
				, ChargePaid
				, ChargeAppliedDate
				)
			SELECT @LoanAccountNo
				, 0
				, @DisActivityID
				, ChargeCode
				, (@DisbursementAmount * PercentageRate)
				, (@DisbursementAmount * PercentageRate)
				, @BusinessDate
			FROM GS_LN_ChargeMaster(NOLOCK) A
			JOIN GS_LN_LoanDetail(NOLOCK) B ON A.ProductCode = B.ProductCode
			WHERE ChargeCode = 'PFEE'
				AND B.LoanAccountNo = @LoanAccountNo

			UNION ALL

			SELECT @LoanAccountNo
				, 0
				, @DisActivityID
				, C.ChargeCode
				, (@DisbursementAmount * A.PercentageRate * C.PercentageRate)
				, (@DisbursementAmount * A.PercentageRate * C.PercentageRate)
				, @BusinessDate
			FROM GS_LN_ChargeMaster(NOLOCK) A
			JOIN GS_LN_LoanDetail(NOLOCK) B ON A.ProductCode = B.ProductCode
			JOIN GS_LN_ChargeMaster(NOLOCK) C ON B.ProductCode = C.ProductCode
			WHERE A.ChargeCode = 'PFEE'
				AND C.ChargeCode = 'PGST'
				AND B.LoanAccountNo = @LoanAccountNo


			--------------------------------------------------
			-- 8 Accounting Call
			--------------------------------------------------
				
				DECLARE @ProductCode VARCHAR(20)
				DECLARE @PFEE Decimal(18,4)
				DECLARE @PGST Decimal(18,4)

				Set @ProductCode= (Select ProductCode from GS_LN_LoanDetail(Nolock) where LoanAccountNo=@LoanAccountNo)
				Set @PFEE=  (Select ChargePaid from GS_LN_ChargeSchedule(nolock) where LoanAccountNo=@LoanAccountNo and ChargeCode='PFEE' )
				Set @PGST=   (Select ChargePaid from GS_LN_ChargeSchedule(nolock) where LoanAccountNo=@LoanAccountNo and ChargeCode='PGST' )

				DECLARE @Input TT_LN_AccountingInput
				INSERT INTO @Input VALUES ('PRIN',@DisbursementAmount)
				INSERT INTO @Input VALUES ('PFEE',@PFEE)
				INSERT INTO @Input VALUES ('PGST',@PGST)

				EXEC PRC_LN_AccountingInsert
					@Module = 'LN',
					@ProductCode = @ProductCode,
					@TxnCode = 'LD',
					@LoanAccountNo = @LoanAccountNo,
					@ActivityID = @DisActivityID,
					@AcctgDate = @BusinessDate,
					@ValueDate = @BusinessDate,
					@PostingInput = @Input,
					@SourceCode = 'LD101'		

              END 

			  ELSE
			        Begin

			  INSERT INTO GS_LN_DisbursementEnquiry (
				ExternalApplicationID
				, ActivityID
				, LoanAccountNo
				, ResponseCode
				, ResponseMsg
				, STATUS
				, DisbursementAmount
				, CreatedDate
				, CreatedBy
				)
			SELECT @ExternalApplicationID
				, @DisActivityID
				, @LoanAccountNo
				, @ResponseCode
				, @ResponseMsg
				, 'FAILED'
				, @DisbursementAmount
				, SYSDATETIME()
				, @CreatedBy
			FROM GS_LN_LoanDetail
			WHERE LoanAccountNo = @LoanAccountNo

			END

			COMMIT
		
	END TRY

	BEGIN CATCH
		IF @@TRANCOUNT > 0
			ROLLBACK

		INSERT INTO ErrorHandler (
			ERROR_MSG
			, ERROR_NUM
			, ERROR_LIN
			, ERROR_PROC
			, [BATCH-ID]
			, [SYSTEM-DATE]
			)
		VALUES (
			ERROR_MESSAGE()
			, ERROR_NUMBER()
			, ERROR_LINE()
			, ERROR_PROCEDURE()
			, 0
			, SYSDATETIME()
			)

		SET @ResponseCode = '999'
		SET @ResponseMsg = ERROR_MESSAGE()
	END CATCH
END
GO
