USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_ProcessEOD]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE Procedure [dbo].[PRC_LN_ProcessEOD]
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON

    BEGIN TRY
        BEGIN TRAN

        DECLARE @BusinessDate DATE

        SELECT @BusinessDate = TodayDate
        FROM GS_LN_ApplicationDate

       

        IF EXISTS (
            SELECT 1
            FROM GS_LN_ApplicationDate
            WHERE IsEODRunning = 1
        )
        BEGIN
            Print '50001'+'_'+ 'EOD already running.'+ 1
        END

		Else

        UPDATE GS_LN_ApplicationDate
        SET IsEODRunning = 1,
            IsEODCompleted = 0,
            ModifiedDate = SYSDATETIME()

        ---------------------------------------------------
        -- 1. Daily Accrual and DPD Update  
        ---------------------------------------------------

           EXEC PRC_LN_EOD_DailyAccrual

    
        ---------------------------------------------------
        -- 2. Month-End Accrual Posting And Schedule Date -1 day Accrual Posting
        ---------------------------------------------------

            EXEC PRC_LN_EOD_MonthEndAccrual

        ---------------------------------------------------
        -- 3. Update EOD Completed
        ---------------------------------------------------


		 UPDATE GS_LN_ApplicationDate
        SET IsEODCompleted = 1,
            IsEODRunning = 0,
            LastEODRunDateTime = SYSDATETIME(),
            ModifiedDate = SYSDATETIME(),
			ModifiedBy = 'SYSTEM_ProcessEOD'

	   Insert Into GS_LN_ApplicationDate_History
		(
		TodayDate
		,PreviousWorkingDate
		,IsEODCompleted
		,EODCompletedDateTime
		,CreatedBy
		)
		Select 
		TodayDate
		,PreviousWorkingDate
		,IsEODCompleted
		,LastEODRunDateTime
		,ModifiedBy
		From GS_LN_ApplicationDate

        ---------------------------------------------------
        -- 4. Update Business Date
        ---------------------------------------------------

        UPDATE GS_LN_ApplicationDate
        SET 
            PreviousWorkingDate = TodayDate,
            TodayDate = DATEADD(DAY,1,TodayDate),
            ModifiedDate = SYSDATETIME()


-----------PROCESS BOD
        ---------------------------------------------------
        -- 5. Interest Capitalization
        ---------------------------------------------------

        EXEC PRC_LN_EOD_InterestCapitalization

        -----------------------------------------------------
        ---- 6. Move DailyAccrual to History
        -----------------------------------------------------

        --INSERT INTO GS_LN_DailyAccrual_History
        --SELECT *, @BusinessDate AS SnapshotDate
        --FROM GS_LN_DailyAccrual


        COMMIT
    END TRY

    BEGIN CATCH
        ROLLBACK

        UPDATE GS_LN_ApplicationDate
        SET IsEODRunning = 0,
            ModifiedDate = SYSDATETIME()

        INSERT INTO ErrorHandler
        (
            ERROR_MSG,
            ERROR_NUM,
            ERROR_LIN,
            ERROR_PROC,
            [BATCH-ID],
            [SYSTEM-DATE]
        )
        VALUES
        (
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_LINE(),
            ERROR_PROCEDURE(),
            0,
            SYSDATETIME()
        )

        
    END CATCH
END
GO
