USE [GS_DLP_LMS]
GO
/****** Object:  StoredProcedure [dbo].[PRC_LN_EOD_InterestCapitalization]    Script Date: 16-03-2026 12:28:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_LN_EOD_InterestCapitalization]
AS
BEGIN
    SET NOCOUNT ON
    SET XACT_ABORT ON

    BEGIN TRY
        BEGIN TRAN

        DECLARE @BusinessDate DATE

        SELECT @BusinessDate = TodayDate
        FROM GS_LN_ApplicationDate

        ---------------------------------------------------
        -- Identify Loans for Capitalization
        ---------------------------------------------------
        DROP TABLE IF EXISTS #ToCap

        CREATE TABLE #ToCap
        (
            LoanAccountNo VARCHAR(50),
            ProductCode   VARCHAR(50),
            ScheduleID    INT,
            CapAmount     DECIMAL(18,4)
        )

        INSERT INTO #ToCap
        (
            LoanAccountNo,
            ProductCode,
            ScheduleID,
            CapAmount
        )
        SELECT  L.LoanAccountNo,
                L.ProductCode,
                S.ScheduleID,
                S.InterestAccrued
        FROM GS_LN_LoanDetail L
        JOIN GS_LN_RepaymentSchedule S
              ON S.LoanAccountNo = L.LoanAccountNo
        WHERE L.LoanStatus = 'DISBURSED'
          AND S.ScheduleDate = @BusinessDate
          AND ISNULL(S.InterestAccrued,0) > 0

        ---------------------------------------------------
        -- Cursor Processing
        ---------------------------------------------------
        DECLARE 
            @LoanAccountNo VARCHAR(20),
            @ProductCode   VARCHAR(20),
            @ScheduleID    INT,
            @CapAmount     DECIMAL(18,4),
            @ActivityID    VARCHAR(50)

        DECLARE C CURSOR LOCAL FAST_FORWARD FOR
        SELECT LoanAccountNo,
               ProductCode,
               ScheduleID,
               CapAmount
        FROM #ToCap
		Where CapAmount>0

        OPEN C

        FETCH NEXT FROM C
        INTO @LoanAccountNo,
             @ProductCode,
             @ScheduleID,
             @CapAmount

        WHILE @@FETCH_STATUS = 0
        BEGIN
            DECLARE @Input TT_LN_AccountingInput

            INSERT INTO @Input
            VALUES ('INTCAP', @CapAmount)

            SET @ActivityID =
                CONCAT('LC_',
                       @LoanAccountNo,'_',
                       FORMAT(@BusinessDate,'yyyyMMdd'),'_',
                       @ScheduleID)

            EXEC PRC_LN_AccountingInsert
                 @Module        = 'LN',
                 @ProductCode   = @ProductCode,
                 @TxnCode       = 'LC',
                 @LoanAccountNo = @LoanAccountNo,
                 @ActivityID    = @ActivityID,
                 @AcctgDate     = @BusinessDate,
                 @ValueDate     = @BusinessDate,
                 @PostingInput  = @Input,
                 @SourceCode    = 'EODCAP_103'

            ---------------------------------------------------
            -- Update Daily Accrual
            ---------------------------------------------------
            UPDATE GS_LN_DailyAccrual
            SET AccountingCapitalized = ISNULL(AccountingCapitalized,0) + @CapAmount,
                ModifiedDate = SYSDATETIME()
            WHERE LoanAccountNo = @LoanAccountNo

            ---------------------------------------------------
            -- Update Repayment Schedule
            ---------------------------------------------------
            UPDATE GS_LN_RepaymentSchedule
            SET InterestDue = InterestAccrued
            WHERE LoanAccountNo = @LoanAccountNo
              AND ScheduleID    = @ScheduleID

            UPDATE GS_LN_RepaymentSchedule
            SET LastAccDate = @BusinessDate
            WHERE LoanAccountNo = @LoanAccountNo
              AND ScheduleID    = @ScheduleID + 1

            FETCH NEXT FROM C
            INTO @LoanAccountNo,
                 @ProductCode,
                 @ScheduleID,
                 @CapAmount
        END

        CLOSE C
        DEALLOCATE C

        COMMIT
    END TRY
    BEGIN CATCH
        ROLLBACK

        INSERT INTO ErrorHandler
        (
            ERROR_MSG,
            ERROR_NUM,
            ERROR_LIN,
            ERROR_PROC,
            [BATCH-ID],
            [SYSTEM-DATE]
        )
        VALUES
        (
            ERROR_MESSAGE(),
            ERROR_NUMBER(),
            ERROR_LINE(),
            ERROR_PROCEDURE(),
            0,
            SYSDATETIME()
        )
    END CATCH
END
GO
