USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_RepaymentSchedule]    Script Date: 16-03-2026 11:20:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_RepaymentSchedule](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoanAccountNo] [varchar](50) NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[ScheduleDate] [date] NOT NULL,
	[OpeningPrincipal] [decimal](18, 4) NOT NULL,
	[ScheduledInterest] [decimal](18, 4) NOT NULL,
	[ScheduledPrincipal] [decimal](18, 4) NOT NULL,
	[EMI] [decimal](18, 4) NOT NULL,
	[ClosingPrincipal] [decimal](18, 4) NOT NULL,
	[InterestAccrued] [decimal](18, 4) NOT NULL,
	[InterestDue] [decimal](18, 4) NOT NULL,
	[InterestPaid] [decimal](18, 4) NOT NULL,
	[PrincipalPaid] [decimal](18, 4) NOT NULL,
	[EMIPaid] [decimal](18, 4) NOT NULL,
	[BalancePrincipal] [decimal](18, 4) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[LastAccDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_RepaymentSchedule] ADD  DEFAULT ((0)) FOR [InterestAccrued]
GO
ALTER TABLE [dbo].[GS_LN_RepaymentSchedule] ADD  DEFAULT ((0)) FOR [InterestDue]
GO
ALTER TABLE [dbo].[GS_LN_RepaymentSchedule] ADD  DEFAULT ((0)) FOR [InterestPaid]
GO
ALTER TABLE [dbo].[GS_LN_RepaymentSchedule] ADD  DEFAULT ((0)) FOR [PrincipalPaid]
GO
ALTER TABLE [dbo].[GS_LN_RepaymentSchedule] ADD  DEFAULT ((0)) FOR [EMIPaid]
GO
ALTER TABLE [dbo].[GS_LN_RepaymentSchedule] ADD  DEFAULT ((0)) FOR [BalancePrincipal]
GO
ALTER TABLE [dbo].[GS_LN_RepaymentSchedule] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
