USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_Accounting_Details]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_Accounting_Details](
	[PopulateID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoanAccountNo] [varchar](50) NOT NULL,
	[ActivityID] [varchar](50) NOT NULL,
	[Module] [varchar](10) NOT NULL,
	[TxnCode] [varchar](20) NOT NULL,
	[AmtCode] [varchar](30) NOT NULL,
	[Amount] [decimal](18, 4) NOT NULL,
	[GLMnemonic] [varchar](50) NOT NULL,
	[Dr_Cr] [char](1) NOT NULL,
	[AcctgDate] [date] NOT NULL,
	[ValueDate] [date] NOT NULL,
	[SourceCode] [varchar](50) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PopulateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_Accounting_Details] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[GS_LN_Accounting_Details]  WITH CHECK ADD CHECK  (([Dr_Cr]='C' OR [Dr_Cr]='D'))
GO
