USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_DailyAccrual]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_DailyAccrual](
	[LoanAccountNo] [varchar](16) NOT NULL,
	[OpeningPrincipal] [decimal](18, 4) NOT NULL,
	[InterestRate] [decimal](9, 6) NOT NULL,
	[DailyInterest] [decimal](18, 4) NOT NULL,
	[TotalAccruedInterest] [decimal](18, 4) NOT NULL,
	[TotalInterestPaid] [decimal](18, 4) NOT NULL,
	[TotalPrincipalPaid] [decimal](18, 4) NOT NULL,
	[BalancePrincipal] [decimal](18, 4) NOT NULL,
	[AccountingAccrued] [decimal](18, 4) NOT NULL,
	[AccountingCapitalized] [decimal](18, 4) NOT NULL,
	[DPD] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanAccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual] ADD  DEFAULT ((0)) FOR [TotalAccruedInterest]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual] ADD  DEFAULT ((0)) FOR [TotalInterestPaid]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual] ADD  DEFAULT ((0)) FOR [TotalPrincipalPaid]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual] ADD  DEFAULT ((0)) FOR [AccountingAccrued]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual] ADD  DEFAULT ((0)) FOR [AccountingCapitalized]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual] ADD  DEFAULT ((0)) FOR [DPD]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
