USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_AdvanceInterest]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_AdvanceInterest](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RepaymentID] [bigint] NOT NULL,
	[LoanAccountNo] [varchar](50) NOT NULL,
	[InterestRate] [decimal](9, 6) NOT NULL,
	[FromDate] [date] NOT NULL,
	[ToDate] [date] NOT NULL,
	[NoOfDays] [int] NOT NULL,
	[InterestAmount] [decimal](18, 4) NOT NULL,
	[IsPaid] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_AdvanceInterest] ADD  DEFAULT ((0)) FOR [IsPaid]
GO
ALTER TABLE [dbo].[GS_LN_AdvanceInterest] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
