USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_Advance]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_Advance](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[RepaymentID] [bigint] NOT NULL,
	[LoanAccountNo] [varchar](50) NOT NULL,
	[AdvanceAmount] [decimal](18, 4) NOT NULL,
	[AdvanceBalance] [decimal](18, 4) NOT NULL,
	[AdvanceDate] [date] NOT NULL,
	[IsClosed] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_Advance] ADD  DEFAULT ((0)) FOR [IsClosed]
GO
ALTER TABLE [dbo].[GS_LN_Advance] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
