USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_ChargeMaster]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_ChargeMaster](
	[ChargeMasterID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[ChargeCode] [varchar](20) NOT NULL,
	[ChargeName] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[CalculationMode] [tinyint] NOT NULL,
	[FlatAmount] [decimal](18, 4) NOT NULL,
	[PercentageRate] [decimal](9, 6) NOT NULL,
	[MinimumCharge] [decimal](18, 4) NOT NULL,
	[MaximumCharge] [decimal](18, 4) NOT NULL,
	[RoundingPrecision] [int] NOT NULL,
	[ChargeBase] [varchar](30) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ChargeMasterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GS_LN_ChargeMaster] ON 

INSERT [dbo].[GS_LN_ChargeMaster] ([ChargeMasterID], [ProductCode], [ChargeCode], [ChargeName], [Description], [CalculationMode], [FlatAmount], [PercentageRate], [MinimumCharge], [MaximumCharge], [RoundingPrecision], [ChargeBase], [IsActive], [CreatedDate], [CreatedBy], [ModifiedDate], [ModifiedBy]) VALUES (1, N'VL001', N'PFEE', N'Processing Fee', N'Processing Fee', 2, CAST(0.0000 AS Decimal(18, 4)), CAST(0.010000 AS Decimal(9, 6)), CAST(0.0000 AS Decimal(18, 4)), CAST(5000.0000 AS Decimal(18, 4)), 2, N'DISBURSED_AMOUNT', 1, CAST(N'2026-02-27T00:12:37.4963702' AS DateTime2), N'1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[GS_LN_ChargeMaster] OFF
ALTER TABLE [dbo].[GS_LN_ChargeMaster] ADD  DEFAULT ((0)) FOR [FlatAmount]
GO
ALTER TABLE [dbo].[GS_LN_ChargeMaster] ADD  DEFAULT ((0)) FOR [PercentageRate]
GO
ALTER TABLE [dbo].[GS_LN_ChargeMaster] ADD  DEFAULT ((0)) FOR [MinimumCharge]
GO
ALTER TABLE [dbo].[GS_LN_ChargeMaster] ADD  DEFAULT ((0)) FOR [MaximumCharge]
GO
ALTER TABLE [dbo].[GS_LN_ChargeMaster] ADD  DEFAULT ((2)) FOR [RoundingPrecision]
GO
ALTER TABLE [dbo].[GS_LN_ChargeMaster] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GS_LN_ChargeMaster] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
