USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_NPA_Detail]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_NPA_Detail](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[LoanAccountNo] [varchar](50) NOT NULL,
	[NPAStateID] [int] NOT NULL,
	[NPADate] [date] NOT NULL,
	[DPDAtClassification] [int] NOT NULL,
	[OutstandingPrincipal] [decimal](18, 4) NOT NULL,
	[OutstandingInterest] [decimal](18, 4) NOT NULL,
	[OutstandingCharges] [decimal](18, 4) NOT NULL,
	[EffectiveFromDate] [date] NOT NULL,
	[EffectiveToDate] [date] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_NPA_Detail] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GS_LN_NPA_Detail] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
