USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_ApplicationDate]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_ApplicationDate](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[TodayDate] [date] NOT NULL,
	[PreviousWorkingDate] [date] NULL,
	[IsEODCompleted] [bit] NOT NULL,
	[IsEODRunning] [bit] NOT NULL,
	[LastEODRunDateTime] [datetime2](7) NULL,
	[ModifiedDate] [datetime2](7) NOT NULL,
	[ModifiedBy] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GS_LN_ApplicationDate] ON 

INSERT [dbo].[GS_LN_ApplicationDate] ([ID], [TodayDate], [PreviousWorkingDate], [IsEODCompleted], [IsEODRunning], [LastEODRunDateTime], [ModifiedDate], [ModifiedBy]) VALUES (1, CAST(N'2026-03-16' AS Date), CAST(N'2026-03-15' AS Date), 1, 0, CAST(N'2026-03-16T10:09:52.3963969' AS DateTime2), CAST(N'2026-03-16T10:09:52.3963969' AS DateTime2), N'SYSTEM_ProcessEOD')
SET IDENTITY_INSERT [dbo].[GS_LN_ApplicationDate] OFF
ALTER TABLE [dbo].[GS_LN_ApplicationDate] ADD  DEFAULT ((0)) FOR [IsEODCompleted]
GO
ALTER TABLE [dbo].[GS_LN_ApplicationDate] ADD  DEFAULT ((0)) FOR [IsEODRunning]
GO
ALTER TABLE [dbo].[GS_LN_ApplicationDate] ADD  DEFAULT (sysdatetime()) FOR [ModifiedDate]
GO
