USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_DisbursementDetail]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_DisbursementDetail](
	[LoanAccountNo] [varchar](50) NOT NULL,
	[ExternalApplicationID] [varchar](50) NOT NULL,
	[ActivityID] [varchar](50) NOT NULL,
	[DisbursementDate] [date] NOT NULL,
	[DisbursementAmount] [decimal](18, 4) NOT NULL,
	[FirstInstallmentDate] [date] NULL,
	[DisbursalMode] [varchar](20) NOT NULL,
	[DisbursalType] [varchar](20) NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanAccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_DisbursementDetail] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
