USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_Accounting_PostingRule]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_Accounting_PostingRule](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[Module] [varchar](10) NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[TxnCode] [varchar](20) NOT NULL,
	[AmtCode] [varchar](30) NOT NULL,
	[PostingSequence] [int] NOT NULL,
	[GLMnemonic] [varchar](30) NOT NULL,
	[Dr_Cr] [char](1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[GS_LN_Accounting_PostingRule] ON 

INSERT [dbo].[GS_LN_Accounting_PostingRule] ([ID], [Module], [ProductCode], [TxnCode], [AmtCode], [PostingSequence], [GLMnemonic], [Dr_Cr], [IsActive], [CreatedDate], [CreatedBy]) VALUES (1, N'LN', N'VL001', N'LD', N'PRIN', 101, N'LNPRIN', N'D', 1, CAST(N'2026-02-27T01:29:52.3188641' AS DateTime2), N'SYSTEM')
INSERT [dbo].[GS_LN_Accounting_PostingRule] ([ID], [Module], [ProductCode], [TxnCode], [AmtCode], [PostingSequence], [GLMnemonic], [Dr_Cr], [IsActive], [CreatedDate], [CreatedBy]) VALUES (2, N'LN', N'VL001', N'LD', N'PRIN', 102, N'LNDBMT', N'C', 1, CAST(N'2026-02-27T01:29:52.3188641' AS DateTime2), N'SYSTEM')
INSERT [dbo].[GS_LN_Accounting_PostingRule] ([ID], [Module], [ProductCode], [TxnCode], [AmtCode], [PostingSequence], [GLMnemonic], [Dr_Cr], [IsActive], [CreatedDate], [CreatedBy]) VALUES (3, N'LN', N'VL001', N'LD', N'PFEE', 103, N'LNDBMT', N'D', 1, CAST(N'2026-02-27T01:29:52.3188641' AS DateTime2), N'SYSTEM')
SET IDENTITY_INSERT [dbo].[GS_LN_Accounting_PostingRule] OFF
ALTER TABLE [dbo].[GS_LN_Accounting_PostingRule] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[GS_LN_Accounting_PostingRule] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[GS_LN_Accounting_PostingRule]  WITH CHECK ADD CHECK  (([Dr_Cr]='C' OR [Dr_Cr]='D'))
GO
