USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_DailyAccrual_History]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_DailyAccrual_History](
	[LoanAccountNo] [varchar](16) NOT NULL,
	[OpeningPrincipal] [decimal](18, 4) NOT NULL,
	[InterestRate] [decimal](9, 6) NOT NULL,
	[DailyInterest] [decimal](18, 4) NOT NULL,
	[TotalAccruedInterest] [decimal](18, 4) NOT NULL,
	[TotalInterestPaid] [decimal](18, 4) NOT NULL,
	[TotalPrincipalPaid] [decimal](18, 4) NOT NULL,
	[BalancePrincipal] [decimal](18, 4) NOT NULL,
	[AccountingAccrued] [decimal](18, 4) NOT NULL,
	[AccountingCapitalized] [decimal](18, 4) NOT NULL,
	[DPD] [int] NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ArchivedDate] [datetime2](7) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual_History] ADD  DEFAULT ((0)) FOR [TotalAccruedInterest]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual_History] ADD  DEFAULT ((0)) FOR [TotalInterestPaid]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual_History] ADD  DEFAULT ((0)) FOR [TotalPrincipalPaid]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual_History] ADD  DEFAULT ((0)) FOR [AccountingAccrued]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual_History] ADD  DEFAULT ((0)) FOR [AccountingCapitalized]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual_History] ADD  DEFAULT ((0)) FOR [DPD]
GO
ALTER TABLE [dbo].[GS_LN_DailyAccrual_History] ADD  DEFAULT (sysdatetime()) FOR [ArchivedDate]
GO
