USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_ChargeMaster_Audit]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_ChargeMaster_Audit](
	[ChargeMasterID] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductCode] [varchar](20) NOT NULL,
	[ChargeCode] [varchar](20) NOT NULL,
	[ChargeName] [varchar](100) NOT NULL,
	[Description] [varchar](500) NULL,
	[CalculationMode] [tinyint] NOT NULL,
	[FlatAmount] [decimal](18, 4) NOT NULL,
	[PercentageRate] [decimal](9, 6) NOT NULL,
	[MinimumCharge] [decimal](18, 4) NOT NULL,
	[MaximumCharge] [decimal](18, 4) NOT NULL,
	[RoundingPrecision] [int] NOT NULL,
	[ChargeBase] [varchar](30) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](50) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](50) NULL
) ON [PRIMARY]
GO
