USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[GS_LN_LoanDetail]    Script Date: 16-03-2026 11:20:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GS_LN_LoanDetail](
	[LoanAccountNo] [varchar](50) NOT NULL,
	[ExternalApplicationID] [varchar](50) NULL,
	[CustomerID] [varchar](50) NOT NULL,
	[ProductCode] [varchar](50) NOT NULL,
	[LoanStatus] [varchar](50) NOT NULL,
	[ApplicationDate] [date] NOT NULL,
	[SanctionDate] [date] NULL,
	[ClosureDate] [date] NULL,
	[AppliedAmount] [decimal](18, 4) NOT NULL,
	[SanctionAmount] [decimal](18, 4) NOT NULL,
	[RepaymentType] [varchar](50) NOT NULL,
	[InstallmentFrequency] [varchar](50) NOT NULL,
	[Tenure] [int] NOT NULL,
	[InstallmentAmount] [decimal](18, 4) NULL,
	[InterestRate] [decimal](9, 6) NULL,
	[FirstInstallmentDate] [date] NULL,
	[CreatedDate] [datetime2](7) NOT NULL,
	[CreatedBy] [varchar](150) NOT NULL,
	[ModifiedDate] [datetime2](7) NULL,
	[ModifiedBy] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[LoanAccountNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[GS_LN_LoanDetail] ADD  DEFAULT (sysdatetime()) FOR [CreatedDate]
GO
