USE [GS_DLP_LMS]
GO
/****** Object:  Table [dbo].[ErrorHandler]    Script Date: 16-03-2026 11:23:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorHandler](
	[Error_ID] [int] IDENTITY(1,1) NOT NULL,
	[ERROR_MSG] [varchar](max) NULL,
	[ERROR_NUM] [int] NULL,
	[ERROR_LIN] [int] NULL,
	[ERROR_PROC] [varchar](100) NULL,
	[BATCH-ID] [int] NULL,
	[SYSTEM-DATE] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[ErrorHandler] ADD  DEFAULT (getdate()) FOR [SYSTEM-DATE]
GO
